<div class="card">
  <div class="card-body">
    <h3 class="card-title justify-center">
      This markdown is rendered with <code>react-dom/server</code>
    </h3>
    <div class="m-auto min-w-max">
      <.react_markdown data={@markdown_doc} />
    </div>
  </div>
</div>
